.img-mm-0 { background-image: url('../images/moments/img-mm-0.jpg'); }

.img-mm-baguio-1 { background-image: url('../images/moments/img-mm-baguio-01.jpg') !important; }
.img-mm-baguio-2 { background-image: url('../images/moments/img-mm-baguio-02.jpg') !important; }
.img-mm-baguio-3 { background-image: url('../images/moments/img-mm-baguio-03.jpg') !important; }
.img-mm-baguio-4 { background-image: url('../images/moments/img-mm-baguio-04.jpg') !important; }
.img-mm-baguio-5 { background-image: url('../images/moments/img-mm-baguio-05.jpg') !important; }
.img-mm-baguio-6 { background-image: url('../images/moments/img-mm-baguio-06.jpg') !important; }

.img-mm-bohol-1 { background-image: url('../images/moments/img-mm-bohol-01.jpg'); }
.img-mm-bohol-2 { background-image: url('../images/moments/img-mm-bohol-02.jpg'); }
.img-mm-bohol-3 { background-image: url('../images/moments/img-mm-bohol-03.jpg'); }
.img-mm-bohol-4 { background-image: url('../images/moments/img-mm-bohol-04.jpg'); }
.img-mm-bohol-5 { background-image: url('../images/moments/img-mm-bohol-05.jpg'); }
.img-mm-bohol-6 { background-image: url('../images/moments/img-mm-bohol-06.jpg'); }

.img-mm-cdo-1 { background-image: url('../images/moments/img-mm-cdo-01.jpg'); }
.img-mm-cdo-2 { background-image: url('../images/moments/img-mm-cdo-02.jpg'); }
.img-mm-cdo-3 { background-image: url('../images/moments/img-mm-cdo-03.jpg'); }
.img-mm-cdo-4 { background-image: url('../images/moments/img-mm-cdo-04.jpg'); }
.img-mm-cdo-5 { background-image: url('../images/moments/img-mm-cdo-05.jpg'); }
.img-mm-cdo-6 { background-image: url('../images/moments/img-mm-cdo-06.jpg'); }

.img-mm-ilocos-1 { background-image: url('../images/moments/img-mm-ilocos-01.jpg'); }
.img-mm-ilocos-2 { background-image: url('../images/moments/img-mm-ilocos-02.jpg'); }
.img-mm-ilocos-3 { background-image: url('../images/moments/img-mm-ilocos-03.jpg'); }
.img-mm-ilocos-4 { background-image: url('../images/moments/img-mm-ilocos-04.jpg'); }
.img-mm-ilocos-5 { background-image: url('../images/moments/img-mm-ilocos-05.jpg'); }
.img-mm-ilocos-6 { background-image: url('../images/moments/img-mm-ilocos-06.jpg'); }

.img-mm-manila-1 { background-image: url('../images/moments/img-mm-manila-01.jpg'); }
.img-mm-manila-2 { background-image: url('../images/moments/img-mm-manila-02.jpg'); }
.img-mm-manila-3 { background-image: url('../images/moments/img-mm-manila-03.jpg'); }
.img-mm-manila-4 { background-image: url('../images/moments/img-mm-manila-04.jpg'); }
.img-mm-manila-5 { background-image: url('../images/moments/img-mm-manila-05.jpg'); }
.img-mm-manila-6 { background-image: url('../images/moments/img-mm-manila-06.jpg'); }

.img-mm-palawan-1 { background-image: url('../images/moments/img-mm-palawan-01.jpg'); }
.img-mm-palawan-2 { background-image: url('../images/moments/img-mm-palawan-02.jpg'); }
.img-mm-palawan-3 { background-image: url('../images/moments/img-mm-palawan-03.jpg'); }
.img-mm-palawan-4 { background-image: url('../images/moments/img-mm-palawan-04.jpg'); }
.img-mm-palawan-5 { background-image: url('../images/moments/img-mm-palawan-05.jpg'); }
.img-mm-palawan-6 { background-image: url('../images/moments/img-mm-palawan-06.jpg'); }

.img-mm-quezon-1 { background-image: url('../images/moments/img-mm-quezon-01.jpg'); }
.img-mm-quezon-2 { background-image: url('../images/moments/img-mm-quezon-02.jpg'); }
.img-mm-quezon-3 { background-image: url('../images/moments/img-mm-quezon-03.jpg'); }
.img-mm-quezon-4 { background-image: url('../images/moments/img-mm-quezon-04.jpg'); }
.img-mm-quezon-5 { background-image: url('../images/moments/img-mm-quezon-05.jpg'); }
.img-mm-quezon-6 { background-image: url('../images/moments/img-mm-quezon-06.jpg'); }

.img-mm-surigao-1 { background-image: url('../images/moments/img-mm-surigao-01.jpg'); }
.img-mm-surigao-2 { background-image: url('../images/moments/img-mm-surigao-02.jpg'); }
.img-mm-surigao-3 { background-image: url('../images/moments/img-mm-surigao-03.jpg'); }
.img-mm-surigao-4 { background-image: url('../images/moments/img-mm-surigao-04.jpg'); }
.img-mm-surigao-5 { background-image: url('../images/moments/img-mm-surigao-05.jpg'); }
.img-mm-surigao-6 { background-image: url('../images/moments/img-mm-surigao-06.jpg'); }

.img-mm-baguio-1 { background-image: url('../images/moments/img-mm-baguio-01.jpg'); }
.img-mm-baguio-2 { background-image: url('../images/moments/img-mm-baguio-02.jpg'); }
.img-mm-baguio-3 { background-image: url('../images/highlights/img-hl-baguio-03.jpg'); }

.img-hl-baguio-1 { background-image: url('../images/highlights/img-hl-baguio-01.jpg'); }
.img-hl-baguio-2 { background-image: url('../images/highlights/img-hl-baguio-02.jpg'); }
.img-hl-baguio-3 { background-image: url('../images/highlights/img-hl-baguio-03.jpg'); }
.img-hl-baguio-4 { background-image: url('../images/highlights/img-hl-baguio-04.jpg'); }
.img-hl-baguio-5 { background-image: url('../images/highlights/img-hl-baguio-05.jpg'); }
.img-hl-baguio-6 { background-image: url('../images/highlights/img-hl-baguio-06.jpg'); }

.img-hl-bohol-1 { background-image: url('../images/highlights/img-hl-bohol-01.jpg'); }
.img-hl-bohol-2 { background-image: url('../images/highlights/img-hl-bohol-02.jpg'); }
.img-hl-bohol-3 { background-image: url('../images/highlights/img-hl-bohol-03.jpg'); }
.img-hl-bohol-4 { background-image: url('../images/highlights/img-hl-bohol-04.jpg'); }
.img-hl-bohol-5 { background-image: url('../images/highlights/img-hl-bohol-05.jpg'); }
.img-hl-bohol-6 { background-image: url('../images/highlights/img-hl-bohol-06.jpg'); }

.img-hl-cdo-1 { background-image: url('../images/highlights/img-hl-cdo-01.jpg'); }
.img-hl-cdo-2 { background-image: url('../images/highlights/img-hl-cdo-02.jpg'); }
.img-hl-cdo-3 { background-image: url('../images/highlights/img-hl-cdo-03.jpg'); }
.img-hl-cdo-4 { background-image: url('../images/highlights/img-hl-cdo-04.jpg'); }
.img-hl-cdo-5 { background-image: url('../images/highlights/img-hl-cdo-05.jpg'); }
.img-hl-cdo-6 { background-image: url('../images/highlights/img-hl-cdo-06.jpg'); }

.img-hl-ilocos-1 { background-image: url('../images/highlights/img-hl-ilocos-01.jpg'); }
.img-hl-ilocos-2 { background-image: url('../images/highlights/img-hl-ilocos-02.jpg'); }
.img-hl-ilocos-3 { background-image: url('../images/highlights/img-hl-ilocos-03.jpg'); }
.img-hl-ilocos-4 { background-image: url('../images/highlights/img-hl-ilocos-04.jpg'); }
.img-hl-ilocos-5 { background-image: url('../images/highlights/img-hl-ilocos-05.jpg'); }
.img-hl-ilocos-6 { background-image: url('../images/highlights/img-hl-ilocos-06.jpg'); }

.img-hl-manila-1 { background-image: url('../images/highlights/img-hl-manila-01.jpg'); }
.img-hl-manila-2 { background-image: url('../images/highlights/img-hl-manila-02.jpg'); }
.img-hl-manila-3 { background-image: url('../images/highlights/img-hl-manila-03.jpg'); }
.img-hl-manila-4 { background-image: url('../images/highlights/img-hl-manila-04.jpg'); }
.img-hl-manila-5 { background-image: url('../images/highlights/img-hl-manila-05.jpg'); }
.img-hl-manila-6 { background-image: url('../images/highlights/img-hl-manila-06.jpg'); }

.img-hl-palawan-1 { background-image: url('../images/highlights/img-hl-palawan-01.jpg'); }
.img-hl-palawan-2 { background-image: url('../images/highlights/img-hl-palawan-02.jpg'); }
.img-hl-palawan-3 { background-image: url('../images/highlights/img-hl-palawan-03.jpg'); }
.img-hl-palawan-4 { background-image: url('../images/highlights/img-hl-palawan-04.jpg'); }
.img-hl-palawan-5 { background-image: url('../images/highlights/img-hl-palawan-05.jpg'); }
.img-hl-palawan-6 { background-image: url('../images/highlights/img-hl-palawan-06.jpg'); }

.img-hl-quezon-1 { background-image: url('../images/highlights/img-hl-quezon-01.jpg'); }
.img-hl-quezon-2 { background-image: url('../images/highlights/img-hl-quezon-02.jpg'); }
.img-hl-quezon-3 { background-image: url('../images/highlights/img-hl-quezon-03.jpg'); }
.img-hl-quezon-4 { background-image: url('../images/highlights/img-hl-quezon-04.jpg'); }
.img-hl-quezon-5 { background-image: url('../images/highlights/img-hl-quezon-05.jpg'); }
.img-hl-quezon-6 { background-image: url('../images/highlights/img-hl-quezon-06.jpg'); }

.img-hl-surigao-1 { background-image: url('../images/highlights/img-hl-surigao-01.jpg'); }
.img-hl-surigao-2 { background-image: url('../images/highlights/img-hl-surigao-02.jpg'); }
.img-hl-surigao-3 { background-image: url('../images/highlights/img-hl-surigao-03.jpg'); }
.img-hl-surigao-4 { background-image: url('../images/highlights/img-hl-surigao-04.jpg'); }
.img-hl-surigao-5 { background-image: url('../images/highlights/img-hl-surigao-05.jpg'); }
.img-hl-surigao-6 { background-image: url('../images/highlights/img-hl-surigao-06.jpg'); }





* { margin: 0; padding: 0; }
html, body { height: 100%; }
body { font-family: "Segoe UI"; }

img { display: block; }

.font-theme { font-family: Papyrus; }
.font-quote {
	font-family: "Lucida Handwriting", Papyrus;
	font-style: italic;
	font-weight: 100;
	font-size: 4em;
}

/* color scheme */
.color-theme-dark { background-color: rgb(61,23,0); color: #fafafa; }
.color-theme-light { background-color: rgb(133,98,61); color: #fafafa; }
.color-theme-lighter { background-color: rgb(230,212,172); }

.t-color-theme-dark { color: rgb(61,23,0); }
.t-color-theme-light { color: rgb(133,98,61); }
.t-color-theme-lighter { color: rgb(230,212,172); }

/* images */
img.logo {
	content: url('../images/logo.png');
	border-radius: 1200px;
	box-shadow: 4px 6px 12px rgba(0,0,0,0.4);
	filter: brightness(1.05);
}
.img-0 { background-image: url('../images/img-0.jpg'); }
.img-1 { background-image: url('../images/img-1.jpg'); }
.img-2 { background-image: url('../images/img-2.jpg'); filter: brightness(1.05); }
.img-3 { background-image: url('../images/img-3.jpg'); }
.img-4 { background-image: url('../images/img-4.jpg'); }

.img-baguio-1 { background-image: url('../images/destinations/baguio-1.jpg'); }
.img-baguio-2 { background-image: url('../images/destinations/baguio-2.jpg'); }
.img-baguio-3 { background-image: url('../images/destinations/baguio-3.jpg'); }

.img-bohol-1 { background-image: url('../images/destinations/bohol-1.jpg'); }
.img-bohol-2 { background-image: url('../images/destinations/bohol-2.jpg'); }
.img-bohol-3 { background-image: url('../images/destinations/bohol-3.jpg'); }

.img-cdo-1 { background-image: url('../images/destinations/cdo-1.jpg'); }
.img-cdo-2 { background-image: url('../images/destinations/cdo-2.jpg'); }
.img-cdo-3 { background-image: url('../images/destinations/cdo-3.jpg'); }

.img-ilocos-1 { background-image: url('../images/destinations/ilocos-1.jpg'); }
.img-ilocos-2 { background-image: url('../images/destinations/ilocos-2.jpg'); }
.img-ilocos-3 { background-image: url('../images/destinations/ilocos-3.jpg'); }

.img-manila-1 { background-image: url('../images/destinations/manila-1.jpg'); }
.img-manila-2 { background-image: url('../images/destinations/manila-2.jpg'); }
.img-manila-3 { background-image: url('../images/destinations/manila-3.jpg'); }

.img-palawan-1 { background-image: url('../images/destinations/palawan-1.jpg'); }
.img-palawan-2 { background-image: url('../images/destinations/palawan-2.jpg'); }
.img-palawan-3 { background-image: url('../images/destinations/palawan-3.jpg'); }

.img-quezon-1 { background-image: url('../images/destinations/quezon-1.jpg'); }
.img-quezon-2 { background-image: url('../images/destinations/quezon-2.jpg'); }
.img-quezon-3 { background-image: url('../images/destinations/quezon-3.jpg'); }

.img-surigao-1 { background-image: url('../images/destinations/surigao-1.jpg'); }
.img-surigao-2 { background-image: url('../images/destinations/surigao-2.jpg'); }
.img-surigao-3 { background-image: url('../images/destinations/surigao-3.jpg'); }

.clear-filter { filter: sepia(0); }

/* classes */
.parallax {
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.parallax > .dim {
    background-color: rgba(0,0,0,0.2);
    height: inherit;
    width: inherit;
}

.x-max { width: 100%; }
.y-max { min-height: 100vh; height: 100vh; }
.xy-max {
    width: 100%;
    min-height: 100vh;
    height: 100vh;
}
.x-inherit { height: inherit; }
.y-inherit { width: inherit; }
.xy-inherit { width: inherit; height: inherit; }

.x-center { margin-left: auto; margin-right: auto; }

/* content center */
.center-content {
    display: table;
    table-layout: fixed;
    width: 100%;
    height: inherit;
    overflow: hidden;
}
.center-content > .this {
    margin-left: 0;
    margin-right: 0;
    display: table-cell;
    vertical-align: middle;
    position: relative;
}

/* div-1 */
.div-1 {
	position: relative;
	z-index: 100;
	width: 100%;
	top: 0;
}

.div-1 img.logo {
	width: 150px;
	height: 144px;
	right: 24px;
	bottom: 24px;
}

.div-1 h3 {
	letter-spacing: 3px;
	color: #fafafa;
	text-shadow: 2px 2px 2px rgba(0,0,0,0.6);
}

.div-1 h2 {
	letter-spacing: 3px;
	text-shadow: 2px 2px 4px rgba(0,0,0,0.8);
	left: 20px;
}

.div-1 a[href="#next"] {
	bottom: 12px;
}

/* theme card */
.theme-card {
	
}

.theme-card .head {
	background-color: rgb(143,108,71);
	color: #fff;
}

.theme-card .body {
	padding: 24px;
	box-sizing: border-box;
}

/* destinations */
#destinations .cards * {
	transition: 0.2s all;
}

#destinations .cards > * {
	min-height: 300px;
	height: 300px;
	overflow: hidden;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	color: #fafafa;
	text-decoration: none;
	cursor: pointer;
}

#destinations .cards > *:hover .dim {
	background-color: rgba(0,0,0,0.4);
}

#destinations .cards > *:hover .body p {
	opacity: 1;
}

#destinations .cards > *:hover .body h4 {
	display: inline-block;
}

#destinations .cards > * .body {
	position: relative;
	padding: 0px 32px 0;
}

#destinations .cards > * .dim {
	height: inherit;
	width: 100%;
	background-color: rgba(0,0,0,0);
}

#destinations .cards > * .body h4 {
	/*transform: translate(0, 210px);*/
	text-shadow: 1px 1px 1px rgba(0,0,0,0.9);
	letter-spacing: 2px;
	float: left;
}

#destinations .cards > * .body p {
	opacity: 0;
	text-align: center;
	letter-spacing: 1px;
	text-shadow: 1px 1px rgba(0,0,0,0.4);
	vertical-align: middle;
	display: table-cell;
}

#destinations .cards > * .body .short-desc {
	position: relative;
	height: calc(100% - 20px);
	display: table;
	text-align: center;
}

#destinations .cards > * .body .long-desc {
	display: none;
}

.button {
	background: none;
	border: 1px solid #fafafa;
	padding: 12px 24px;
	margin-left: 2px;
	margin-right: 2px;
	transition: 0.2s all;
}

.button:hover,
.button:focus,
.button:active {
	/* 133,98,61 */
	background-color: rgba(250,250,250,1);
	color: rgb(61,23,0);
}

#destinations .bottom-group {
	position: absolute;
	right: 0;
	top: 0;
	width: 100%;
	height: 0;
	padding: 24px;
}

#destinations .button-group {
	float: right;
}
/* team */
.div-team img {
	width: 100%;
}

.div-team > div {

}

/* modal desc */
.modal-desc .button {
	margin-top: 12px;
}

/* footer */
footer {
	padding-right: 58px;
}

/* sub */
.home-nav-icon {
	position: fixed;
	z-index: 1000;
	background-color: rgba(250,250,250,0.7);
	box-shadow: 0 2px 8px rgba(0,0,0,0.4);
	color: #111;
	right: 6px;
	bottom: 50%;
	padding: 0 12.5px;
	width: 50px;
	height: 50px;
	white-space: nowrap;
	text-decoration: none;
	overflow: hidden;
	border-radius: 2px;
	transition: 0.2s all;
	line-height: 50px
}

.home-nav-icon i {
	vertical-align: middle;
	margin-right: 12.5px;
}

.home-nav-icon:hover,
.home-nav-icon:focus,
.home-nav-icon:active {
	text-decoration: none;
	width: 110px;
	background-color: rgba(250,250,250,1);
	color: #111;
}


footer.-f {
    background-color: #111;
    
    
}

footer.-f p {
	text-align: center;
	padding: 32px;
    color: #ddd;
    letter-spacing: 4px;
}


.-list {
    font-size: 1.5em;
    margin-left: 48px;
}